.image-modal-master {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
}

.image-modal-background {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: black;
    opacity: 0.9;
}

.image-modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 100;
    align-items: center;
    align-content: center;
    justify-content: center;
    pointer-events: none;
}

.image-modal-image {
    border-radius: 16px;
    max-width: 80%;
    max-height: 80%;
}

.image-modal-buttons {
    margin-top: 20px;
}

.image-modal-buttons > * {
    margin: 5px;
}

.image-modal-button {
    pointer-events: all;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    height: 25px;
    border-radius: 12.5px;
    border: none;
    font-size: 12px;
    font-variant: small-caps;
    cursor: pointer;
}


.critical {
    background: #800;
}

.neutral {
    background: #444;
}

.separate {
    margin-right: 40px;
}
